[submodule "fileChunking"]
	path = fileChunking
	url = https://github.com/yeroc-sebrof/fileChunkingClass
[submodule "Prod/fileChunkingClass"]
	path = Prod/fileChunkingClass
	url = https://github.com/yeroc-sebrof/fileChunkingClass
